.stage-type-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eeeeee;
}

.stage-type-item > img {
  max-width: 100px;
  width: 30px;
  margin: 5px;
}

.stage-type-item {
  background-color: #eeeeee;
}

.add-button {
  background-color: #99ee99;
}

.remove-button {
  background-color: #ee9999;
}

.collapse-button {
  background-color: #9999ee;
}

.clickable {
  text-align: center;
}

.clickable:hover {
  filter: brightness(90%);
}

.clickable:active {
  filter: brightness(70%);
  border-style: none;
}

.selected-stage-type-item, .selected-stage-type-item:hover {
  background-color: #999999;
}

.diff-groups {
  display: flex;
  flex-direction: row;
}

.list-maker-group {
  flex: 1 1 10%;
  margin: 2px;
}

textarea, input {
  resize: none;
  width: calc(100% - 4px);
  margin: 0;
  padding: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.list-maker-item {
  margin: 4px 0;
}
