.app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #B7A46A, white);
    font-family: latoregular, Helvetica, sans-serif;
    overflow-y: auto;
}

.app-survey {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-family: latoregular, Helvetica, sans-serif;
    overflow-y: auto;
}

.game-intro {
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 60%;
    background-color: #202733;
    text-align: center;
    z-index: 1;
    overflow-y: auto;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Menlo Regular', Courier, monospace;
}

.game-intro-evil {
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 60%;
    background-color: #202733;
    background-size: cover;
    background-image: url(Illyria-is-watching-popup-03.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: 1;
    overflow-y: auto;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    box-shadow: 0px 0px 70px 50px #A53737;
    font-family: 'Menlo Regular', Courier, monospace;
}

.game-intro div {
    margin-top: 20px;
}

.popup-message-container img{
    width: 330px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.topRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.title {
    flex: 2;
    display: flex;
    flex-direction: row;
    border-width: 3px;
}

.logo {
    flex: 1;
    margin-right: 25px;
}

.welcome {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loggedIn {
    color: white;
    background: #55B748;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #4A566C;
    padding: 5px 10px 5px 10px;
    width: 100px;
}

.name {
    text-decoration: underline;
    color: #595035;
    font-size: 40px;
}

.logo img{
    /*height: 200px;*/
    margin: 5px 10px;
    max-width: 100%;
    height: auto;
}

.killChain {
    flex: 3;
    margin-right: 100px;
    margin-left: 100px;
}

.killChain img {
    max-width: 100%;
    height: auto;
}

.bottomRow {
    flex: 4;
    display: flex;
    flex-direction: row;
}

.lowerLeft {
    flex: 1;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.tab {
    flex: 3;
    background: #3B4255;
}

.tab button {
    color: white;
    background: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
    font-size: 20px;
    border: 1px solid #4B566C;
    border-radius: 2px;
    padding: 0px 20px;
    box-shadow: 2px 2px 20px #292b30 inset;
}

.tab button:hover {
    background: rgb(56, 62, 77);
}

.tab button.active {
    background: #4B566C;
    box-shadow: none;
}

.undertab {
    flex: 2;
    background: #4B566C;
}

.content-area {
    flex: 40;
    display: flex;
    font-family: 'Menlo Regular', Courier, monospace;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tabcontent {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#Rules {
    flex: 1;
    color: #ff8f2e;
    background: #202733;
    background-size: 50%;
    background-image: url(DARDANIA-code-o25.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 20px;
    font-size: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.code-line {
    display: flex;
    flex-direction: row;
}

.code-title {
    margin-left: 25px;
}

.code-content {
    margin-left: 50px;
}

.space-container {
    display: flex;
    flex-direction: column;
}

.line-space {
    /*flex: 1;*/
    white-space: nowrap;
}

#Actions {
    flex: 1;
    background: #202733;
    background-size: 50%;
    background-image: url(DARDANIA-code-o25.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 20px;
    font-size: 20px;
}

.actionDiv-disabled {
    color: #55B748;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.actionDiv-selected {
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.action-title {
    white-space: pre;
}

.lowerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.messagesDiv {
    flex: 6;
    background: white;
    box-shadow: 20px 20px 50px 15px grey;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.messageLabel {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.label {
    flex: 2;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelSpacer {
    flex: 3;
}

.messageContent {
    flex: 3;
    border-style: solid;
    border-color: #4A566C transparent transparent transparent;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-container {
    font-size: 20px;
    margin: 15px;
}

.continue-button {
    flex: 1;
    background: #55B748;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.continue-button-fake {
    flex: 1;
    background: #55B748;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-family: lato, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.continue-button-disabled {
    flex: 1;
    background: #818181;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: not-allowed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.survey-div {
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.question-div {
    flex: 8;
    display: flex;
    flex-direction: row;
}

.question-number {
    flex: 1;
    color: #bf3c38;
    border-style: solid;
    border-color: white;
    border-right-Color: #bf3c38;
    border-width: 5px;
    height: 10%;
    font-size: 40px;
}

.inner-question-div {
    flex: 25;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 30px;
}

.inner-question-div textarea{
    background-color: #F3F5F5;
    border-color: #F3F5F5;
}

.bold-div {
    font-family: latobold, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.answer-container {
    font-size: 25px;
    background: #F3F5F5;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.answer-container-checked {
    font-size: 25px;
    color: white;
    background: #d98a88;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 4px grey;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.survey-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #bf3c38;
    color: white;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.survey-button-disabled {
    background: #818181;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    cursor: not-allowed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E2E2E2;
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4A566C; 
  border-radius: 8px;
  width: 11px;
}