.app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #B7A46A, white);
}

.game-intro {
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 60%;
    background-color: #202733;
    text-align: center;
    z-index: 1;
    overflow-y: auto;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

.game-intro-evil {
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 60%;
    background-color: #202733;
    text-align: center;
    z-index: 1;
    overflow-y: auto;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    box-shadow: 0px 0px 70px 50px #A53737;
}

.popup-message-container img{
    width: 330px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.topRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.title {
    flex: 2;
    display: flex;
    flex-direction: row;
    border-width: 3px;
    border-style: solid;
    border-color: transparent #595035 transparent transparent;
}

.logo {
    flex: 1;
}

.welcome {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loggedIn {
    color: white;
    background: #55B748;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #4A566C;
    padding: 5px 10px 5px 10px;
    width: 100px;
}

.name {
    text-decoration: underline;
    color: #595035;
    font-size: 40px;
}

.logo img{
    height: 200px;
    margin: 5px 10px;
}

.killChain {
    flex: 3;
}

.killChain img {
    height: 200px;
}

.bottomRow {
    flex: 4;
    display: flex;
    flex-direction: row;
}

.lowerLeft {
    flex: 1;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.tab {
    flex: 3;
    background: #3B4255;
}

.tab button {
    color: white;
    background: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
    font-size: 20px;
    border: 1px solid #4B566C;
    border-radius: 2px;
    padding: 0px 20px;
    box-shadow: 2px 2px 20px #292b30 inset;
}

.tab button:hover {
    background: rgb(56, 62, 77);
}

.tab button.active {
    background: #4B566C;
    box-shadow: none;
}

.undertab {
    flex: 2;
    background: #4B566C;
}

.content-area {
    flex: 40;
    display: flex;
}

.tabcontent {
    display: none;
    white-space: pre;
    flex-direction: column;
}

#Rules {
    flex: 1;
    color: #ff8f2e;
    background: #202733;
    background-size: 50%;
    background-image: url(DARDANIA-code-o25.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 20px;
    font-size: 20px;
}

#Actions {
    flex: 1;
    background: #202733;
    background-size: 50%;
    background-image: url(DARDANIA-code-o25.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 20px;
    font-size: 20px;
}

.actionDiv-disabled {
    color: #55B748;
    display: flex;
    flex-direction: row;
    white-space: pre;
    margin-bottom: 25px;
}

.actionDiv-selected {
    color: white;
    display: flex;
    flex-direction: row;
    white-space: pre;
    margin-bottom: 25px;
}

.lowerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.messagesDiv {
    flex: 6;
    background: white;
    box-shadow: 20px 20px 50px 15px grey;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.messageLabel {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.label {
    flex: 2;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelSpacer {
    flex: 3;
}

.messageContent {
    flex: 3;
    border-style: solid;
    border-color: #4A566C transparent transparent transparent;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-container {
    font-size: 20px;
    margin: 15px;
}

.continue-button {
    flex: 1;
    background: #55B748;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.continue-button-fake {
    flex: 1;
    background: #55B748;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.continue-button-disabled {
    flex: 1;
    background: #818181;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px #e2e2e2; */
  background: #E2E2E2;
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4A566C; 
  border-radius: 8px;
  width: 11px;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}*/